{% extends "adminBase.html" %}

{% block panel %}
    <!--修改密码-->
    <div id="passwordPanel" class="jumbotron clearfix myPanel" style="margin-bottom: 0px;">
        <div class="container">
            <h2>修改密码</h2>
            <!--表单部分-->
            <form id="form" class="navbar-form center-block text-center" >
                {% csrf_token %}
                <div class="input-group">
                    <span class="input-group-addon" style="width: 100px;">用户名：</span>
                    <input id="username" type="text" value="{{ request.session.username }}" disabled="disabled" class="form-control" aria-describedby="basic-addon1">
                </div>
                <br>
                <div class="input-group affix">
                    <span id="username-msg" class="text-danger" style="display: none;">用户名已存在！</span>
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon" style="width: 100px;">密&nbsp;&nbsp;&nbsp;&nbsp;码：</span>
                    <input id="password" type="password" class="form-control" placeholder="请输入密码" aria-describedby="basic-addon1">
                </div>
                <br>
                <div class="input-group  affix hidden">
                    <span class="text-danger" style="display: none;"></span>
                </div>
                <br>
                <div class="input-group">
                    <span class="input-group-addon" style="width: 100px;">确认密码：</span>
                    <input id="password2" type="password" class="form-control" placeholder="确认密码" aria-describedby="basic-addon1">
                </div>
                <br>
                <div class="input-group  affix">
                    <span id="password-msg" class="text-danger" style="display: none;">两次密码不同！</span>
                </div>
                <br>
                <br>
                <br>
                <div class="input-group">
                    <input id="submit" type="submit" value="修改" class="form-control btn btn-primary" aria-describedby="basic-addon1">
                </div>
            </form>
            <script>
                // 输入用户名时候关闭提示
                $(function(){
                    var flag_password = false;
                    // 输入密码的时候关闭提示
                    $("#password").focus(function(){
                        $("#password-msg").hide();
                        flag_password = true;
                    });
                    $("#password2").focus(function(){
                        $("#password-msg").hide();
                        flag_password = true;
                    });
                    // 重复密码不同 则提示密码不同
                    $("#password").blur(function(){
                        if($("#password").val() != $("#password2").val()){
                            $("#password-msg").show();
                            flag_password = false;
                        }
                    });
                    $("#password2").blur(function(){
                        if($("#password").val() != $("#password2").val()){
                            $("#password-msg").show();
                            flag_password = false;
                        }
                    });

                    // 点击修改 发送ajax修改密码
                    $("#form").submit(function(){
                        if(flag_password == false){
                            return false;
                        }
                        $.ajax({
                            method:"post",
                            url:"/re_user/changePassword/",
                            data:{
                                "username":$("#username").val(),
                                "password":$("#password").val(),
                                "csrfmiddlewaretoken": $("input[type='hidden']").val()
                            },
                            success:function(data){
                                if(data.msg == "OK"){
                                    $("#password-msg").html("密码修改成功").show();
                                    setTimeout(function(){
                                        $("#password-msg").hide().html("密码不相同");
                                        location.href = "/re_user/login";
                                    },2000);

                                }
                            },
                            error:function(){
                                alert("服务器错误,请联系管理员");
                            }
                        })
                        return false;
                    });

                })
            </script>
        </div>
    </div>
{% endblock panel %}