{% extends "base.html" %}

{% block title %}美食森林{% endblock title %}

{% block body %}
<div class="container">
    <!-- 巨幕 首页展示 -->
    <div class="jumbotron clearfix" style="margin-bottom: 0px">
        <div class="container">
            <h1>美食森林</h1>
            <p style="text-indent: 200px;">----你的智能美食助手</p>
            <br><br><br>
            <p><a class="btn btn-primary" role="button" href="/static/media/androidApp/smartDish.apk">安卓app&nbsp;</a></p>
            <p><a class="btn btn-primary" role="button" href="/re_user/register">商家注册</a></p>
            <p><a class="btn btn-primary" role="button" href="/re_user/login">商家登录</a></p>

        </div>
    </div>
</div>
{% endblock body %}
